$blue: #0082c6;
$green: #8ec641;

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.link-btn{
    .primary-btn {
        display: inline-block;
        overflow: hidden;
        background: #22ad4b;
        color: #fff !important;
        padding-right: 60px;
        .btn-text {
            display: block;
            line-height: 30px;
            padding: 12px 40px 8px 25px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .hvr-bounce-to-left {
        transform: translateZ(0);
        transition-duration: 0.5s;
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #60d1d8;
            transform: scaleX(0);
            transform-origin: 100% 50%;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
        }
        .icon {
            position: absolute;
            right: -10px;
            top: 0px;
            line-height: 30px;
            padding: 18px 30px 10px 25px;
            text-align: center;
            font-size: 14px;
            background-color: #fff;
            height: 100%;
            transform: skewX(-20deg);
            i{
                display: block;
                color: #202e31;
                font-size: 18px;
                transform: skewX(20deg);
            }
        }
    }
    &:hover{
        .hvr-bounce-to-left{
            &::before{
                transform: scaleX(1);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                background-color: #60d1d8;
            }
        }
    }
}

.hover-bounce{
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #60d1d8;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
    }
    &:hover, &.active{
        z-index: 9;
        transition: all 0.8s;
        color: #fff;
        a{
            color: #fff;
        }
        &:before {
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }
}

.general{
    margin-bottom: 72px;
    .image{
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #60d1d8;
            opacity: 0.5;
            transition: 0.8s;
        }

        img{
            width: 100%;
            height: 240px;
            object-fit: cover;
            position: relative;
            transition: all 800ms ease;
            
        }
        .curve{
            position: absolute;
            right: -34px;
            top: 80%;
            width: 110%;
            height: 35%;
            z-index: 0;
            background: #fcfcfc;
            transition: all 700ms ease;
            transform: rotate(-13deg);
        }
    }
    .content{
        position: relative;
        z-index: 0; 
        border: 1px solid #fff;
        width: 78%;
        background: #fff;
        margin: -44px 41px 0px;
        transition: 0.8s;
        &::after{
            content: "";
            position: absolute;
            right: 0px;
            top: -1px;
            background: #fff;
            height: 96%;
            width: 100%;
            border: 1px solid #fff;
            z-index: 1;
            transition: all 700ms ease;
            transform-origin: top left;
            transform: skew(0deg, -13deg);
        }
        .desc{
            padding: 20px 20px 20px;
            z-index: 2;
            background: #fff;
            position: relative;
            h4{
                padding-left: 15px;
                border-left: 5px solid #60d1d8;
                font-weight: 800;
                font-family: "Raleway", sans-serif;
                text-transform: uppercase;
                line-height: 20px;
                margin-bottom: 15px;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                color: #6e6e6e;
            }
        }
    }
    &:hover{
        .image{

                &::after{
                    height: 100%;
                }
            
            .curve{
                transform: rotate(0deg);
                top: 100%;
            }
        }
        .content{
            transform: translateY(44px) !important;
            border: 1px solid #60d1d8;
            &::after{
                
                border: 1px solid #60d1d8;
            }
        }
    }
}

header{
    .header-upper{
        background-color: #22ad4b;
        .wrapper{
            display: flex;
            justify-content: space-between;
            li{
                padding: 3px 8px;
                a{
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                }
            }
            .rightnleft{
                display: flex;
                justify-content: space-around;
            }
            .header-upper-left{
                ion-icon{
                    padding-right: 8px;
                }
            }
            .header-upper-right{
                text-transform: uppercase;
                li{
                    position: relative;
                    padding: 3px 10px;
                    &:first-child{
                        &::after{
                            position: absolute;
                            content: "";
                            right: 0;
                            top: 10px;
                            width: 1px;
                            height: 40%;
                            background-color: #4e7559;
                        }
                    }
                }
            }
        }
    }
    .header-lower{
        z-index: 99;
        transition: all 0.1s ease;
        nav{
            padding: 16px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navigation{
                .header-nav{
                    display: flex;
                    .menu-item{
                        margin-left: 6px;
                        
                        position: relative;
                        a{
                            font-size: 12px;
                            font-weight: 700;
                            text-transform: uppercase;
                            padding: 8px;
                            color: #393939;
                        }
                        .sub-menu{
                            position: absolute;
                            top: 40px;
                            left: 0px;
                            background-color: #22ad4b;
                            width: 200px;
                            transition: all .6s ease;
                            opacity: 0;
                            visibility: hidden;
                            z-index: 1;

                            li{
                                padding: 7px 20px;
                                border-bottom: 1px solid #ffffffc3;
                                a{
                                    text-transform: capitalize;
                                    color: #fff;
                                    font-weight: 400;
                                    transition: all .6s ease;
                                }
                                &:hover{
                                    a{
                                        padding-left: 8px;
                                    }
                                }
                            }
                        }
                        &:hover{
                            a{
                                background-color: #22ad4b;
                                color: #fff;
                            }
                            .sub-menu{
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(-10px);
                            }
                        }
                    }
                }
            }
        }
    }
    &.fixed-header{
        .header-upper{
            display: none;
        }
        .header-lower{
            position: fixed;
            width: 100%;
            background-color: #fff;
        }
    }
}

.banner{
    position: relative;
    .banner-slider{
        .item{
            position: relative;
            .banner-image{
                img{
                    position: absolute;
                    left: 58%;
                    max-width: 500px; 
                    max-height: auto;
                    object-fit: contain;
                    &:nth-child(2n){
                        left: 59%;
                    }
                }
                &.shift{
                    img{
                        left: 12%;
                    }
                }
            }
        }
        .owl-nav{
            position: relative;
            span{
                display: none;
            }
            button{ 
                position: absolute;
                bottom: 282px;
                &::after{
                    font-size: 32px;
                    padding: 32px 6px;
                    width: 30px;
                    height: 110px;
                    color: #fff;
                    background: #2c2b2b;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.4s ease;
                }
            }
            .owl-prev{
                left: 0;
                &::after {
                    content: '<';
                    left: 0px;
                }
            }
            .owl-next{
                right: 0;
                &::after {
                    content: '>';
                    font-size: 32px;
                }
            }
        }
        .owl-dots{
            text-align: center;
            opacity: 0;
            visibility: hidden;
            button.owl-dot{
                display: inline-block;
                margin-right: 18px;
                position: relative;
                span{
                    cursor: pointer;
                    position: absolute;
                    bottom: 100px;
                    left: 50%;
                    background: #00000080;
                    border-radius: 10px;
                    box-shadow: none;
                    width: 16px;
                    height: 16px;
                    transition: background-color .2s,border-color .2s;
                }
                &:hover, &.active{
                    span{
                        border: 5px solid #000;
                        background: #fff;
                    }
                }
            }
        }
    }
    &:hover{
        .banner-slider{
            .owl-nav{
                .owl-next::after, .owl-prev::after{
                    opacity: 0.3;
                    visibility: visible;
                }
    
            }
            .owl-dots{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .owl-carousel{
        z-index: 0;
    }
}

.banner-timer{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #000000bf;
    animation: load 8.3s infinite ;
}

.banner-inner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 208px;
    position: relative;
    z-index: 0;
    &::after{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0,0,0,0.70);
    }
    .banner-text{
        width: 100%;
        padding-top: 48px;
        h1{
            position: relative;
            width: 600px;
            margin: auto;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
            font-weight: 800;
            color: #fff;
            &::after{
                content: "";
                position: absolute;
                bottom: -14px;
                left: 47%;
                width: 36px;
                height: 3px;
                background-color: #fff;
            }
        }
    }
    .breadcrumbs{
        margin: auto;
        width: 200px;
        text-align: center;
        justify-content: center;
        display: flex;
            li{
                display: flex;
                align-items: center;
                a{
                    color: #fff;
                    font-size: 14px;
                    &:hover{
                        color: #60d1d8;
                    }
                }
                span{
                    padding: 0 8px;
                    color: #fff;
                    font-size: 14px;
                }
            }
    }
}

.mns{
    padding: 80px 0px 50px;
    
}


.we-are-best{
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 53%;
        height: 100%;
        background: #202e31;
        right: -5%;
        z-index: -1;
        transform: skewX(-15deg);
        overflow-x: hidden;
    }
    .image{
        z-index: -1;
        img{
            width: 100%;
            height: 320px ;
            object-fit: cover;
        }
    }
    .content{
        padding-top: 70px;
        text-align: right;
        padding-left: 50px;
        z-index: 5;
        h2{
            font-weight: 800;
            font-family: "Raleway", sans-serif;
            text-transform: uppercase;
            color: #ffffff;
            margin: 10px 0px 25px;
            span{
                color: #60d1d8;
            }
        }
        p{
            margin-bottom: 25px;
            color: #fff;
        }
    }
}

.services{
    padding: 50px 0;
    .heading{
        margin-bottom: 32px;
        h2{
            padding: 10px 30px 10px 15px;
            background: #202e31;
            text-transform: uppercase;
            font-weight: 800;
            font-family: "Raleway", sans-serif;
            color: #fff;
            width: 536px;
            position: relative;
            &.non{
                width: 144px;
            }
            span{
                color: #60d1d8;
            }
            &::after{
                content: '';
                position: absolute;
                right: -10px;
                top: 0px;
                width: 20px;
                height: 100%;
                background: #202e31;
                transform: skewX(-15deg);
            }
        }
    }
    .general-section{
        display: flex;
        .left-side-bar{
            width: 22%;
            border: 1px solid #f1f1f1;
            border-bottom: none;
            margin-bottom: 20px;
            li{
                position: relative;
                display: block;
                width: 100%;
                border: 0;
                color: #505050;
                cursor: pointer;
                border-bottom: 1px solid #f1f1f1;
                background: #ffffff;
                padding: 18px 15px;
                font-size: 13px;
                line-height: 25px;
                font-weight: 700;
                text-align: center;
                font-family: "Raleway", sans-serif;
                text-transform: uppercase;
                
            }
        }
        .panel-body{
            width: 78%;
            .main-content{
                display: flex;
                .left-content{
                    width: 85%;
                    padding: 0px 40px;
                    .title{
                        margin-bottom: 15px;
                        h4{
                            text-transform: uppercase;
                            font-weight: 700;
                            color: #202e31;
                            font-family: "Raleway" sans-serif;
                        }
                    }
                    .slogan{
                        p{
                            font-weight: 700;
                        }
                    }
                }
                
            }
        }
        .nav{
            display: block;
        }
    }
}


footer{
    .footer-upper{
        background-color: #202e31;
        .subscribe-section{
            z-index: 0;
            position: relative;
            .subs-text{
                padding: 32px 32px;
                h2{
                    font-weight: 700;
                    color: #202e31;
                    text-align: center;
                    text-transform: uppercase;
                    span{
                        color: #fff;
                    }
                }
            }
            &::after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: #22ad4b;
                transform: skewX(-15deg);
            }
        }
        .footer-section{
            color: #c1c2c2c2;
            text-align: center;
            padding-top: 56px;
            padding-bottom: 24px;            
            h3{
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 24px;
                font-family: "Raleway", sans-serif;
            }
            ul{
                margin-bottom: 24px;
                li{
                    margin-bottom: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        &:hover{
                            color: #60d1d8;
                        }
                    }
                }
                li, li a{
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            ion-icon{
                font-size: 16px;
                padding-right: 8px;
                color: #60d1d8;
            }
            .social{
                ion-icon{
                    font-size: 32px;
                    margin-top: 8px;
                    color: #606060;
                    transition: all 0.8s ease;
                    &:hover{
                        color: #60d1d8;
                    }
                }
            }
        }
    }
    .footer-lower{
        background-color: #1d282b;
        padding: 18px 0;
        p{
            color: #7a7b7b;
            text-align: center;
        }
    }
}


.about{
    padding: 50px 0;
    .wrap{
        padding: 30px 45px;
        p{
            font-size: 15px;
        }
        h3{
            font-size: 20px;
            margin-bottom: 20px;
            color: #0c1f34;
            font-weight: 600;
            transition: all 0.2s ease;
            &:hover{
                color: #60d1d8;
            }
        }
        h2{
            font-size: 20px;
            font-family: 'Raleway',serif;
            font-weight: bold;
            margin-bottom: 30px;
            color: #8ec641;
            text-transform: uppercase;
            border-bottom: 2px solid #8ec641;
            padding-bottom: 5px;
        }
        ul.categories{
            li{
                padding: 16px 0;
                font-size: 14px;
                color: #0c1f34;
                font-weight: bold;
                transition: all 0.2s ease;
                &:hover{
                    color: #60d1d8;
                }
            }
        }
        ul.general{
            li{
                font-size: 14px;
            }
        }
    }
}

.candidate{
    box-shadow: inner 0 0 2px #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    margin-bottom: 35px;
    width: 240px;
    img{
        width: 100%;
    }
    .info{
        padding: 15px;
        .desc{
            padding: 15px;
        }
        .details{
            padding-left: 15px;
            border-left: 5px solid #60d1d8;
            font-weight: bold;
            margin-bottom: 15px;
            a{
                font-family: 'Raleway', sans-serif;
                color: #60d1d8;
                font-size: 14px;
                text-transform: uppercase;
            }
            h6{
                margin-top: 3px;
                color: #cacaca;
                color: #22ad4b;
                font-size: 12px;
                font-weight: 400;
                font-family: 'Sintony';
                line-height: 14px;
                margin-bottom: 5px;
                width: 171px;
            }
        }
        .link{
            a{
                font-size: 12px;
                &.hover-bounce{
                    &::before{
                        background: #2098d1;
                    }
                }
            }
        }
    }
    &:hover{
        box-shadow: inner 0 0 12px #d3d3d3;
        border: 1px solid #fff;
    }
}

.career{
    padding: 50px 0;
    .blog{
        padding: 30px;
        .title{
            margin-bottom: 36px;
            h4{
                font-size: 15px;
                font-weight: 700;
            }
        }
        .desc{
            p{
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                &.subtitle{
                    margin-top: 30px;
                    font-weight: 600;
                }
            }
        }
    }
}

@keyframes load {
    0% {width: 0;}
    100%{width: 100%;}
  }