.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.link-btn .primary-btn {
  display: inline-block;
  overflow: hidden;
  background: #22ad4b;
  color: #fff !important;
  padding-right: 60px;
}

.link-btn .primary-btn .btn-text {
  display: block;
  line-height: 30px;
  padding: 12px 40px 8px 25px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.link-btn .hvr-bounce-to-left {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.link-btn .hvr-bounce-to-left::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #60d1d8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.link-btn .hvr-bounce-to-left .icon {
  position: absolute;
  right: -10px;
  top: 0px;
  line-height: 30px;
  padding: 18px 30px 10px 25px;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  height: 100%;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.link-btn .hvr-bounce-to-left .icon i {
  display: block;
  color: #202e31;
  font-size: 18px;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.link-btn:hover .hvr-bounce-to-left::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  background-color: #60d1d8;
}

.hover-bounce {
  position: relative;
}

.hover-bounce::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #60d1d8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hover-bounce:hover, .hover-bounce.active {
  z-index: 9;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: #fff;
}

.hover-bounce:hover a, .hover-bounce.active a {
  color: #fff;
}

.hover-bounce:hover:before, .hover-bounce.active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.general {
  margin-bottom: 72px;
}

.general .image {
  position: relative;
}

.general .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #60d1d8;
  opacity: 0.5;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.general .image img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.general .image .curve {
  position: absolute;
  right: -34px;
  top: 80%;
  width: 110%;
  height: 35%;
  z-index: 0;
  background: #fcfcfc;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.general .content {
  position: relative;
  z-index: 0;
  border: 1px solid #fff;
  width: 78%;
  background: #fff;
  margin: -44px 41px 0px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.general .content::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -1px;
  background: #fff;
  height: 96%;
  width: 100%;
  border: 1px solid #fff;
  z-index: 1;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skew(0deg, -13deg);
          transform: skew(0deg, -13deg);
}

.general .content .desc {
  padding: 20px 20px 20px;
  z-index: 2;
  background: #fff;
  position: relative;
}

.general .content .desc h4 {
  padding-left: 15px;
  border-left: 5px solid #60d1d8;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 15px;
}

.general .content .desc p {
  font-size: 14px;
  font-weight: 500;
  color: #6e6e6e;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.general:hover .image::after {
  height: 100%;
}

.general:hover .image .curve {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 100%;
}

.general:hover .content {
  -webkit-transform: translateY(44px) !important;
          transform: translateY(44px) !important;
  border: 1px solid #60d1d8;
}

.general:hover .content::after {
  border: 1px solid #60d1d8;
}

.heading {
  margin-bottom: 32px;
}

.heading h2 {
  padding: 10px 30px 10px 15px;
  background: #202e31;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: #fff;
  width: 536px;
  position: relative;
}

.heading h2.non {
  width: 144px;
}

.heading h2 span {
  color: #60d1d8;
}

.heading h2::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  width: 20px;
  height: 100%;
  background: #202e31;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

header .header-upper {
  background-color: #22ad4b;
}

header .header-upper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-upper .wrapper li {
  padding: 3px 8px;
}

header .header-upper .wrapper li a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

header .header-upper .wrapper .rightnleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-upper .wrapper .header-upper-left li {
  position: relative;
  padding: 3px 10px;
}

header .header-upper .wrapper .header-upper-left li:first-child::after {
  position: absolute;
  content: "";
  right: 0;
  top: 10px;
  width: 1px;
  height: 40%;
  background-color: #4e7559;
}

header .header-upper .wrapper .header-upper-right {
  text-transform: uppercase;
}

header .header-lower {
  z-index: 99;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

header .header-lower nav {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-lower nav .navigation .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-lower nav .navigation .header-nav .menu-item {
  margin-left: 6px;
  position: relative;
}

header .header-lower nav .navigation .header-nav .menu-item a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px;
  color: #393939;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu {
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: #22ad4b;
  width: 200px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: 0.8s all ease;
  transition: 0.8s all ease;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu li {
  padding: 4px 10px;
  border-bottom: 1px solid #ffffffc3;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu li a {
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  display: block;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu li:hover a {
  padding-left: 14px;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu .rep-menu-item {
  position: relative;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu .rep-menu-item .rep-sub-menu {
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: #22ad4b;
  width: 200px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: 0.8s all ease;
  transition: 0.8s all ease;
}

header .header-lower nav .navigation .header-nav .menu-item .sub-menu .rep-menu-item .rep-sub-menu li:hover a {
  padding-left: 8px;
}

header .header-lower nav .navigation .header-nav .menu-item:hover a {
  background-color: #22ad4b;
  color: #fff;
}

header .header-lower nav .navigation .header-nav .menu-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header .header-lower nav .navigation .header-nav .menu-item:hover .sub-menu .rep-menu-item:hover .rep-sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

header.fixed-header .header-upper {
  display: none;
}

header.fixed-header .header-lower {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #505050;
}

.banner {
  position: relative;
}

.banner .banner-slider .item {
  position: relative;
}

.banner .banner-slider .item .banner-content {
  position: absolute;
  left: 58%;
  top: 40%;
  max-width: 500px;
  color: #393939;
}

.banner .banner-slider .item .banner-content h2 {
  font-size: 24px;
  margin-bottom: 14px;
  font-weight: 500;
  font-family: 'Raleway';
}

.banner .banner-slider .item .banner-content h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 32px;
  font-weight: 600;
  font-family: 'Sintony';
}

.banner .banner-slider .item .banner-content p {
  font-size: 16px;
}

.banner .banner-slider .item .banner-content.shift {
  left: 12%;
}

.banner .banner-slider .owl-nav {
  position: relative;
}

.banner .banner-slider .owl-nav span {
  display: none;
}

.banner .banner-slider .owl-nav button {
  position: absolute;
  bottom: 270px;
}

.banner .banner-slider .owl-nav button i {
  font-size: 24px;
  font-weight: 600;
  padding: 40px 8px;
  width: 30px;
  color: #fff;
  background: #2c2b2b;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.banner .banner-slider .owl-nav .owl-prev {
  left: 0;
}

.banner .banner-slider .owl-nav .owl-next {
  right: 0;
}

.banner .banner-slider .owl-dots {
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.banner .banner-slider .owl-dots button.owl-dot {
  display: inline-block;
  margin-right: 18px;
  position: relative;
}

.banner .banner-slider .owl-dots button.owl-dot span {
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 50%;
  background: #00000080;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 16px;
  height: 16px;
  -webkit-transition: background-color .2s,border-color .2s;
  transition: background-color .2s,border-color .2s;
}

.banner .banner-slider .owl-dots button.owl-dot:hover span, .banner .banner-slider .owl-dots button.owl-dot.active span {
  border: 5px solid #000;
  background: #fff;
}

.banner:hover .banner-slider button i {
  opacity: 0.4;
  visibility: visible;
}

.banner:hover .banner-slider .owl-dots {
  opacity: 1;
  visibility: visible;
}

.banner .owl-carousel {
  z-index: 0;
}

.banner-timer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #000000bf;
  -webkit-animation: load 8.3s infinite;
          animation: load 8.3s infinite;
}

.banner-inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 208px;
  position: relative;
  z-index: 0;
}

.banner-inner::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.7);
}

.banner-inner .banner-text {
  width: 100%;
  padding-top: 48px;
}

.banner-inner .banner-text h1 {
  position: relative;
  width: 600px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 800;
  color: #fff;
}

.banner-inner .banner-text h1::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 47%;
  width: 36px;
  height: 3px;
  background-color: #fff;
}

.banner-inner .breadcrumbs {
  margin: auto;
  width: 200px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-inner .breadcrumbs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-inner .breadcrumbs li a {
  color: #fff;
  font-size: 14px;
}

.banner-inner .breadcrumbs li a:hover {
  color: #60d1d8;
}

.banner-inner .breadcrumbs li span {
  padding: 0 8px;
  color: #fff;
  font-size: 14px;
}

.mns {
  padding: 80px 0px 50px;
}

.we-are-best {
  overflow: hidden;
  position: relative;
}

.we-are-best::after {
  content: '';
  position: absolute;
  right: -5%;
  top: 0px;
  width: 53%;
  height: 100%;
  background: #202e31;
  z-index: -1;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  overflow-x: hidden;
}

.we-are-best .image {
  z-index: -1;
}

.we-are-best .image img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.we-are-best .content {
  padding-top: 70px;
  text-align: right;
  padding-left: 50px;
  z-index: 5;
}

.we-are-best .content h2 {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0px 25px;
}

.we-are-best .content h2 span {
  color: #60d1d8;
}

.we-are-best .content p {
  margin-bottom: 25px;
  color: #fff;
}

.services {
  padding: 50px 0;
}

.services .general-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .general-section .left-side-bar {
  width: 22%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #f1f1f1;
  border-bottom: none;
  margin-bottom: 20px;
}

.services .general-section .left-side-bar li {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  color: #505050;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  background: #ffffff;
  padding: 18px 15px;
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.services .general-section .panel-body {
  width: 78%;
}

.services .general-section .panel-body .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .general-section .panel-body .main-content .left-content {
  width: 85%;
  padding: 0px 40px;
}

.services .general-section .panel-body .main-content .left-content .title {
  margin-bottom: 15px;
}

.services .general-section .panel-body .main-content .left-content .title h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #202e31;
  font-family: "Raleway" sans-serif;
}

.services .general-section .panel-body .main-content .left-content .slogan p {
  font-weight: 700;
}

.services .general-section .nav {
  display: block;
}

footer .footer-upper {
  background-color: #202e31;
}

footer .footer-upper .subscribe-section {
  z-index: 0;
  position: relative;
}

footer .footer-upper .subscribe-section .subs-text {
  padding: 32px 32px;
}

footer .footer-upper .subscribe-section .subs-text h2 {
  font-weight: 700;
  color: #202e31;
  text-align: center;
  text-transform: uppercase;
}

footer .footer-upper .subscribe-section .subs-text h2 span {
  color: #fff;
}

footer .footer-upper .subscribe-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #22ad4b;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

footer .footer-upper .footer-section {
  color: #c1c2c2c2;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 24px;
}

footer .footer-upper .footer-section h3 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-family: "Raleway", sans-serif;
}

footer .footer-upper .footer-section ul {
  margin-bottom: 24px;
}

footer .footer-upper .footer-section ul li {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-upper .footer-section ul li a:hover {
  color: #60d1d8;
}

footer .footer-upper .footer-section ul li, footer .footer-upper .footer-section ul li a {
  font-size: 14px;
  font-weight: 400;
}

footer .footer-upper .footer-section ion-icon {
  font-size: 16px;
  padding-right: 8px;
  color: #60d1d8;
}

footer .footer-upper .footer-section .social ion-icon {
  font-size: 32px;
  margin-top: 8px;
  color: #606060;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

footer .footer-upper .footer-section .social ion-icon:hover {
  color: #60d1d8;
}

footer .footer-lower {
  background-color: #1d282b;
  padding: 18px 0;
}

footer .footer-lower p {
  color: #7a7b7b;
  text-align: center;
}

.about {
  padding: 50px 0;
}

.about .wrap {
  padding: 30px 45px;
}

.about .wrap p {
  font-size: 15px;
}

.about .wrap h3 {
  font-size: 20px;
  margin: 20px 0;
  color: #0c1f34;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about .wrap h3:hover {
  color: #60d1d8;
}

.about .wrap h2 {
  font-size: 20px;
  font-family: 'Raleway',serif;
  font-weight: bold;
  margin-bottom: 30px;
  color: #8ec641;
  text-transform: uppercase;
  border-bottom: 2px solid #8ec641;
  padding-bottom: 5px;
}

.about .wrap ul.categories li {
  padding: 16px 0;
  font-size: 14px;
  color: #0c1f34;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about .wrap ul.categories li:hover {
  color: #60d1d8;
}

.about .wrap ul.general li {
  font-size: 14px;
}

.gallery {
  padding: 50px 0;
}

.gallery .candidate {
  -webkit-box-shadow: inner 0 0 2px #d3d3d3;
          box-shadow: inner 0 0 2px #d3d3d3;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  margin-bottom: 35px;
}

.gallery .candidate img {
  width: 100%;
}

.gallery .candidate .info {
  padding: 15px;
}

.gallery .candidate .info .desc {
  padding: 15px;
}

.gallery .candidate .info .details {
  padding-left: 15px;
  border-left: 5px solid #60d1d8;
  font-weight: bold;
  margin-bottom: 15px;
}

.gallery .candidate .info .details a {
  font-family: 'Raleway', sans-serif;
  color: #60d1d8;
  font-size: 14px;
  text-transform: uppercase;
}

.gallery .candidate .info .details h6 {
  margin-top: 3px;
  color: #cacaca;
  color: #22ad4b;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Sintony';
  line-height: 14px;
  margin-bottom: 5px;
  width: 171px;
}

.gallery .candidate .info .link a {
  font-size: 12px;
}

.gallery .candidate .info .link a.hover-bounce::before {
  background: #2098d1;
}

.gallery .candidate:hover {
  -webkit-box-shadow: inner 0 0 12px #d3d3d3;
          box-shadow: inner 0 0 12px #d3d3d3;
  border: 1px solid #fff;
}

.career {
  padding: 50px 0;
}

.career .blog {
  padding: 30px;
}

.career .blog .title {
  margin-bottom: 36px;
}

.career .blog .title h4 {
  font-size: 15px;
  font-weight: 700;
}

.career .blog .desc p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.career .blog .desc p.subtitle {
  margin-top: 30px;
  font-weight: 600;
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */